
// Index Page (Splash)

.splash {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .btn {
    display: inline-block;

    &:not(:first-of-type) {
      margin-left: sp(sm);
    }
  }
}


// from mia's proj

section {
  margin: 4%;
  display: grid;
  grid-template-columns: 1fr 80%;
  column-gap: sp(5);
  row-gap: sp(lg);
  grid-auto-rows: min-content;
  grid-template-areas: 
    "heading content";

  @include bp-up(1600px) {
    margin: 8%;
  }

  & > h1 {
    font-size: 2rem;
    border-bottom: 5px solid $gray-100;
    padding-bottom: sp(md);
    margin-bottom: sp(massive);
    grid-column-start: heading;
    grid-column-end: content;
  }


  // Left Column

  .heading {
    grid-column-start: heading;
    grid-column-end: heading;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > h2, & > h3 {
      font-size: $small-font-size;
      font-family: $font-family-monospace;
      font-weight: 400;
      text-transform: uppercase;
      color: $gray-400;
      margin-bottom: 0;
    }

    h3 {
      margin-left: auto;
      color: $gray-200;
    }

    &.align-top {
      align-items: baseline;
    }
  }

  // Right Column

  .content {
    grid-column-start: content;
    grid-column-end: content;
    align-self: start;

    & > * {
      display: block;
      margin-bottom: 0;
    }
  }

  .back-to-splash-btn {
    margin: sp(xl) auto;
    grid-column-start: heading;
    grid-column-end: content;
    text-align: center;
  }

  .divider {
    @extend .content;
    color: $gray-100;
    height: 1px;
    background-color: $gray-100;
    margin: sp(5) 0;

  }
}

.color-items {
  display: flex !important;
  flex-wrap: wrap;
  row-gap: sp(lg);
  // flex-direction: column;
  // flex: 1 1 1;
}

.color-item {
  padding: 0 sp(sm);
  min-width: 33.3333333%;
  @include bp-up(xl) {
    flex-grow: 1;
    max-width: 33.3333333%;
  }
}

.color-examples {

}

.color-block {
  height: 140px;
  margin-bottom: sp(md);
  color: $white;
  width: 100%;
}

.color-variants {
  height: 140px;
  display: flex;
}

.color-variant {
  font-family: $font-family-monospace;
  font-size: .825rem;
  text-align: center;
  height: 100%;
  flex: 1;
  color: $white;
  padding: sp(1);
}

.color-dark {
  color: $black;
}

// MAIN
// Blue, Purple, Magenta, Red, Orange, Yellow, Green, Cyan

.color-blue {

  &.color-block {
    padding: sp(1.5);
    background-color: $blue-400;
  }

  &.color-hex {
    color: $blue-100;
  }

  .color-variant:nth-of-type(1) { 
    background-color: $blue-100; 
    color: $black;
  }

  .color-variant:nth-of-type(2) { 
    background-color: $blue-200; 
    color: $black;
  }

  .color-variant:nth-of-type(3) {
    background-color: $blue-300;  
  }

  .color-variant:nth-of-type(4) {
    background-color: $blue-400;  
  }

  .color-variant:nth-of-type(5) {
    background-color: $blue-500;  
  }

  .color-variant:nth-of-type(6) {
    background-color: $blue-600;  
  }

  .color-variant:nth-of-type(7) {
    background-color: $blue-700;  
  }
}

.color-purple {

  &.color-block {
    padding: sp(1.5);
    background-color: $purple-400;
  }

  &.color-hex {
    color: $purple-100;
  }

  .color-variant:nth-of-type(1) { 
    background-color: $purple-100; 
    color: $black;
  }

  .color-variant:nth-of-type(2) { 
    background-color: $purple-200; 
    color: $black;
  }

  .color-variant:nth-of-type(3) {
    background-color: $purple-300;  
  }

  .color-variant:nth-of-type(4) {
    background-color: $purple-400;  
  }

  .color-variant:nth-of-type(5) {
    background-color: $purple-500;  
  }

  .color-variant:nth-of-type(6) {
    background-color: $purple-600;  
  }

  .color-variant:nth-of-type(7) {
    background-color: $purple-700;  
  }
}

.color-magenta {

  &.color-block {
    padding: sp(1.5);
    background-color: $magenta-400;
  }

  &.color-hex {
    color: $magenta-100;
  }

  .color-variant:nth-of-type(1) { 
    background-color: $magenta-100; 
    color: $black;
  }

  .color-variant:nth-of-type(2) { 
    background-color: $magenta-200; 
    color: $black;
  }

  .color-variant:nth-of-type(3) {
    background-color: $magenta-300;  
  }

  .color-variant:nth-of-type(4) {
    background-color: $magenta-400;  
  }

  .color-variant:nth-of-type(5) {
    background-color: $magenta-500;  
  }

  .color-variant:nth-of-type(6) {
    background-color: $magenta-600;  
  }

  .color-variant:nth-of-type(7) {
    background-color: $magenta-700;  
  }
}

.color-red {

  &.color-block {
    padding: sp(1.5);
    background-color: $red-400;
  }

  &.color-hex {
    color: $red-100;
  }

  .color-variant:nth-of-type(1) { 
    background-color: $red-100; 
    color: $black;
  }

  .color-variant:nth-of-type(2) { 
    background-color: $red-200; 
    color: $black;
  }

  .color-variant:nth-of-type(3) {
    background-color: $red-300;  
  }

  .color-variant:nth-of-type(4) {
    background-color: $red-400;  
  }

  .color-variant:nth-of-type(5) {
    background-color: $red-500;  
  }

  .color-variant:nth-of-type(6) {
    background-color: $red-600;  
  }

  .color-variant:nth-of-type(7) {
    background-color: $red-700;  
  }
}

.color-orange {

  &.color-block {
    padding: sp(1.5);
    background-color: $orange-400;
  }

  &.color-hex {
    color: $orange-100;
  }

  .color-variant:nth-of-type(1) { 
    background-color: $orange-100; 
    color: $black;
  }

  .color-variant:nth-of-type(2) { 
    background-color: $orange-200; 
    color: $black;
  }

  .color-variant:nth-of-type(3) {
    background-color: $orange-300;  
  }

  .color-variant:nth-of-type(4) {
    background-color: $orange-400;  
  }

  .color-variant:nth-of-type(5) {
    background-color: $orange-500;  
  }

  .color-variant:nth-of-type(6) {
    background-color: $orange-600;  
  }

  .color-variant:nth-of-type(7) {
    background-color: $orange-700;  
  }
}

.color-yellow {

  &.color-block {
    padding: sp(1.5);
    background-color: $yellow-400;
    color: $black;
  }

  &.color-hex {
    color: $yellow-700;
  }

  .color-variant:nth-of-type(1) { 
    background-color: $yellow-100; 
    color: $black;
  }

  .color-variant:nth-of-type(2) { 
    background-color: $yellow-200; 
    color: $black;
  }

  .color-variant:nth-of-type(3) {
    background-color: $yellow-300;  
    color: $black;
  }

  .color-variant:nth-of-type(4) {
    background-color: $yellow-400;  
    color: $black;
  }

  .color-variant:nth-of-type(5) {
    background-color: $yellow-500;  
  }

  .color-variant:nth-of-type(6) {
    background-color: $yellow-600;  
  }

  .color-variant:nth-of-type(7) {
    background-color: $yellow-700;  
  }
}

.color-cyan {

  &.color-block {
    padding: sp(1.5);
    background-color: $cyan-400;
    color: $black;
  }

  &.color-hex {
    color: $cyan-700;
  }

  .color-variant:nth-of-type(1) { 
    background-color: $cyan-100; 
    color: $black;
  }

  .color-variant:nth-of-type(2) { 
    background-color: $cyan-200; 
    color: $black;
  }

  .color-variant:nth-of-type(3) {
    background-color: $cyan-300;  
    color: $black;
  }

  .color-variant:nth-of-type(4) {
    background-color: $cyan-400;  
    color: $black;
  }

  .color-variant:nth-of-type(5) {
    background-color: $cyan-500;  
  }

  .color-variant:nth-of-type(6) {
    background-color: $cyan-600;  
  }

  .color-variant:nth-of-type(7) {
    background-color: $cyan-700;  
  }
}

.color-green {

  &.color-block {
    padding: sp(1.5);
    background-color: $green-400;
  }

  &.color-hex {
    color: $green-100;
  }

  .color-variant:nth-of-type(1) { 
    background-color: $green-100; 
    color: $black;
  }

  .color-variant:nth-of-type(2) { 
    background-color: $green-200; 
    color: $black;
  }

  .color-variant:nth-of-type(3) {
    background-color: $green-300;  
  }

  .color-variant:nth-of-type(4) {
    background-color: $green-400;  
  }

  .color-variant:nth-of-type(5) {
    background-color: $green-500;  
  }

  .color-variant:nth-of-type(6) {
    background-color: $green-600;  
  }

  .color-variant:nth-of-type(7) {
    background-color: $green-700;  
  }
}

// MONOCHROME
// Dark Gray, Gray, Black, Canvas

.color-dark-gray {

  &.color-block {
    padding: sp(1.5);
    background-color: $dark-gray-400;
  }

  &.color-hex {
    color: $dark-gray-100;
  }

  .color-variant:nth-of-type(1) { 
    background-color: $dark-gray-100; 
    color: $black;
  }

  .color-variant:nth-of-type(2) { 
    background-color: $dark-gray-200; 
    color: $black;
  }

  .color-variant:nth-of-type(3) {
    background-color: $dark-gray-300;  
  }

  .color-variant:nth-of-type(4) {
    background-color: $dark-gray-400;  
  }

  .color-variant:nth-of-type(5) {
    background-color: $dark-gray-500;  
  }

  .color-variant:nth-of-type(6) {
    background-color: $dark-gray-600;  
  }

  .color-variant:nth-of-type(7) {
    background-color: $dark-gray-700;  
  }
}

.color-gray {

  &.color-block {
    padding: sp(1.5);
    background-color: $gray-400;
  }

  &.color-hex {
    color: $gray-100;
  }

  .color-variant:nth-of-type(1) { 
    background-color: $gray-100; 
    color: $black;
  }

  .color-variant:nth-of-type(2) { 
    background-color: $gray-200; 
    color: $black;
  }

  .color-variant:nth-of-type(3) {
    background-color: $gray-300;  
  }

  .color-variant:nth-of-type(4) {
    background-color: $gray-400;  
  }

  .color-variant:nth-of-type(5) {
    background-color: $gray-500;  
  }

  .color-variant:nth-of-type(6) {
    background-color: $gray-600;  
  }

  .color-variant:nth-of-type(7) {
    background-color: $gray-700;  
  }
}


// THEME
// Primary(Blue), Secondary(Gray), Info(Cyan)
// Success(Green), Warning(Yellow), Danger(Red)
// Light (Gray-100), Dark(Gray-600)

.color-theme-items {
  display: flex !important;
  flex-wrap: wrap;
}

.color-theme-item {
  flex-grow: 1;
  min-width: 33.3333333%;
  // max-width: 33.3333333%;
  padding: 0 sp(sm);
}

.color-theme-title {
  padding: sp(.5);

  &.color-block {
    height: auto;
  }
}

.color-light-gray {
  color: $black;
  background-color: $gray-100;
  padding: sp(1.5);
}


.btn-group {
  padding-left: sp(sm);

  &.btn-group-stacked {

    button {
      display: block;
      margin-bottom: sp(2);
    }
  }

  &:not(.btn-group-stacked) {
    display: flex;
    flex-wrap: wrap;
  }

  button {
    margin-right: sp(2);
  }
}