/* 

  ANIMATIONS

  Animation tokens.

*/

$animate-slower: 1400ms; //Intro, Long Loading, Emphasis
$animate-slow: 700ms; //Dimming, Loading
$animate-standard: 200ms; //Expansions, Short Movements
$animate-fast: 120ms; //Micro Interactions
$animate-faster: 70ms; //Toggles, Buttons, Links