/* 

  BORDERS

  Border tokens.

*/

$border-width:                1px !default;
$border-color:                $gray-100 !default;

$border-radius:                2px !default;
$border-radius-sm:             1px !default;
$border-radius-lg:             5px !default;

