/* 

  SPACING

  Tokens + Functions

  Set a base spacer and then modify it via the space function.

  $spacer: 1rem

  .my-custom-class {
    padding: space(1) space(2); -> padding: 8px 16px
  }

  .my-other-class {
    padding: sp(.5) sp(1); -> padding: 4px 8px
  }

  NOTE: See presets below the function.

*/

$spacer: .5rem !default;

$spacer-1:  $spacer * .5;   // 4px
$spacer-2:  $spacer * 1;    // 8px
$spacer-3:  $spacer * 2;    // 16px
$spacer-4:  $spacer * 3;    // 24px
$spacer-5:  $spacer * 4;    // 32px
$spacer-6:  $spacer * 6;    // 48px
$spacer-7:  $spacer * 8;    // 64px
$spacer-8:  $spacer * 9;    // 72px