
.Dropdown {
  cursor: pointer;
  display: inline-block;
  min-width: 180px;
  position: relative;
  border-radius: $border-radius;
  &:hover{
    .Dropdown__Input{
      border: $border-width solid $border-color;
    }
  }
}

.Dropdown--open{
  ul{
    display: block;
  }
  & .Dropdown__Input{
    border: $border-width solid $border-color;
  }
}

.Dropdown--fluid {
  min-width: unset;
  display: block;
  border-radius: $border-radius;
}

.Dropdown__Input {
  color: $black;
  background-color: $canvas;

  font-weight: normal;
  padding: 5px;
  // FIX: can see bottom border radius holes during 'open' state
  border-radius: $border-radius;
  border: $border-width solid transparent;
  width: 100%;
  text-align: left;
  outline: 0;
}

.Dropdown__Input--focus {
  outline: 1px solid red;
}

.Dropdown__List {
  position: absolute;
  z-index: 1;
  width: 100%;
  display: none;
  padding: 0;
  list-style: none;
  border: $border-width solid $border-color; 
  border-top: 0;
  background-color: $canvas;
  outline: 0;
}

.Dropdown__Item {
  color: $gray-300;
  padding: 5px;
  outline: none;
  &:hover {
    // FIX: hover state fg/bg constrast is low
    background-color: $gray-100;
  }
  & > a {
    display: block;
    width: 100%;
    border: none;
    &:hover{
      background-color: $gray-100;
    }
  }
}
.Dropdown__Item--selected {
  color: $blue;
}
.Dropdown__Item--focused {
  background-color: $gray-100;
  outline: 1px solid red;
}
.Dropdown__Item--disabled {
  color: $gray-100;
  &:hover {
    background-color: inherit;
  }
}


// Component Options via props

// prop: enableHover
.Dropdown {
  .Dropdown__List--showOnHover {
    @extend .Dropdown--open;
  } 
}

// prop: navLink
.Dropdown--asNavLink {
  @extend .Nav__Link;
  min-width: unset;

  &:hover{
    .Dropdown__Input{
      border: none; //remove default hover styling
    }
  }

  .Dropdown__Input {
    border: 0;
    font-weight: normal;
    padding: 0;
    color: $gray; // same as NavLink
  }
  .Dropdown__List {
    border: 0;
    margin-top: 5px; // Show Border Hover
    border: $border-width solid $gray;
    border-top: none;
  }
  .Dropdown__Item {
    a {
      color: $gray;
      text-decoration: none;
      padding: 6px 3px;
    }
    &:hover {
      a {
        color: $gray;
        background-color: $gray-100;
        text-decoration: none;
      }
    }
  }

  .Dropdown__Item--selected {
    color: $blue !important;
    font-weight: 500;
  }
}