.Layout {
  padding: 24px;
  height: 100vh;
  background-color: $dark-gray;
  display: flex;
}

.outer-container {
  margin: auto;
  // max-height: 60vh;
  width: 80vw;
  padding: 36px;
  border-radius: 3px;
  background-color: #c8c9cc24;
  display: grid;
  grid-template-rows: auto 1fr;
  column-gap: 36px;
  color: $white;
}

.logo-container {
  display: flex;
  margin-bottom: 24px;
  // height: 600px;
  img {
    object-fit: contain;
  }
}

.sine-wave {
  height: 10vh;
  width: 100%;
  background-color: #919398;
  margin: auto;
}

.content-container {
  display: grid;
  grid-template-rows: 1fr auto auto;
  max-height: 100%;
}


