.Link {
  color: $blue;
  text-decoration: underline;
  &:hover{
    color: $blue-600;
    background-color: $cyan-100;
  }
  &:focus{
    color: $blue-600;
    background-color: $cyan-100;
    outline: none;
  }
}

.Link--disabled {
  color: $gray-100;
  text-decoration: none;
  cursor: not-allowed;
  &:hover{
    color: $gray-100;
    background-color: $body-bg;
    text-decoration: none;
    cursor: not-allowed;
  }
}

.Link__Tip {
  padding: .25rem .5rem;
  background: $canvas;
  font-size: $small-font-size;
  animation: animateTip 0.2s;
}

.Link__TipText {
  color: $gray-300;
  &--subtle {
    color: $gray-200;    
  }
}

@keyframes animateTip {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}