.Nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 24px;
}

.Nav__Section {
  
}

.Nav__ItemList {
  list-style: none; 
  margin: 0;
  padding: 0;
  display: block;

  &--horizontal > .Nav__Item {
    display: inline-block;
    margin-right: 25px;
    
  }
  &--vertical > .Nav__Item {
    display: block;
  }
}

.Nav__Item {
  // display: inline-block;
}

.Nav__Item--dropdown {
  position: relative;
  // Attach these modifiers to children on parent:hover
  &:hover {
    .Nav__DropdownWrapper {
      @extend .Nav__DropdownWrapper--show;
    }
    .Nav__Link {
      @extend .Nav__Link--hover;
    }
  }
}

//Navlink Hovers -- Dropdown Link Underline Overrides
.Nav__Item--dropdown:hover > .Nav__Link:after{
  background: $black;
}


.Nav__DropdownWrapper {
  position: absolute;
  min-width: 100%;
  margin-top: 9px;
  visibility: hidden;
  opacity: 0;
  transition: all $animate-fast ease-in;
  z-index: 1;
  &--show {
    visibility: visible;
    opacity: 1;
  }
}
.Nav__Dropdown {
  background-color: $canvas;
  min-width: 150px;
  color: $gray-300;
  border: $border-width solid $gray;
  border-radius: $border-radius;
  height: 100%;
  // Only direct child Nav.Items get this styling
  & > .Nav__ItemList > .Nav__Item > .Nav__Link {
    padding: .875rem .5rem;
    color: $gray;
    border-bottom: 0;
    &:hover {
      color: $gray;
      background-color: $gray-100;
      border-bottom: 0;
    }
    &:hover:after{
      display: none;
    }
  }
}

.Nav__Link {
  color: $blue;
  font-family: $font-family-sans-serif;
  text-decoration: none;
  display: block;
  position: relative;
  transition: all $animate-fast ease-in;
  &:not(a) {
    cursor: default;
  }
  &:hover{
    @extend .Nav__Link--hover;
  }
  &:hover:after {
    background: $blue;
  }

  &:after{
    position: absolute;
    content: '';
    height: 3px;
    bottom: -2px;
    margin: 0 auto;
    left: 0;
    width: 100%;
    background: transparent;
    transition: .2s ease-in-out;
  }
  
}
.Nav__Link--hover {
  color: $blue-300;
  background-color: transparent;
  &:hover:after {
    background: $blue-300;
  }
}

.Nav__Link--active {
  color: $blue-300 !important;
  &:after {
    background: $blue-300;
  }
}

.Nav__Link--disabled {
  color: $gray-100;
  pointer-events: not-allowed;
}