.Navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
  border: $border-width solid #eeeeee;
  background-color: rgba(white, 0.75);
  backdrop-filter: blur(5px);
  // TODO: update this to use a variable
  z-index: 100;
}

.Navbar__LinkList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Navbar__Link {
  display: inline-block;
  margin-left: 24px;
  a {
    color: #333333;
    font-family: $font-family-monospace;
    text-transform: uppercase; 
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 3px solid transparent;
    transition: .2s ease-in-out;
    &:hover {
      border-bottom: 3px solid currentColor;
    }
  }
  
}

.Navbar__Link--active {
  a {
    color: #0045FF;
    &:hover {
      border-bottom: 3px solid currentColor;
    }
  }
}

.Navbar__Label {
  color: #9c9c9c;
  float: right;
  margin-right: 24px;
}