.services-list {
  padding: 0;
  font-size: 1.1rem;
  li {
    margin-top: 12px;
    list-style: none;
  }
}

.about-grid {
  display: grid;
  grid-template-rows: auto 1fr;
  column-gap: 24px;
  padding: 24px 24px 24px 0px;
  p {
    max-width: 100%;
  }
}

.about-img-and-links {
  display: grid;
  grid-template-columns: auto 1fr;
  margin-bottom: 24px;
  column-gap: 24px;
}

.about-img-container {
  img {
    max-height: 200px;
  }
}

.about-links-list {
  display: flex;
  flex-direction: column;
}

.header {
  font-family: $font-family-monospace;
  color: $blue;
}