.Tabs__Tabs {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 0;
  cursor: pointer;
  outline: 0;
}

.Tabs__Tab {
  display: inline-block;
  border-bottom: 1px solid $gray-100;
  margin-right: 3px;
  padding: 8px;
  font-weight: 500;
  text-align: left;
  height: 40px;
  color: $gray;
  box-sizing: border-box;
  border-radius: $border-radius $border-radius 0 0;
  outline: 0;

  &:hover {
    background-color: transparent;
    border-bottom: 1px solid $black;
    color: $black;
  }

  &--focused {
    outline: 2px solid $purple;
    outline-offset: -2px;
  }

  &--active {
    border-bottom: 2px solid $blue;
    background-color: $canvas;

    &:hover {
      border-bottom: 2px solid $black;
      background-color: $canvas;
    }

    
  }
}

.Tabs__Tab--active.Tabs__Tab--focused { 
  // outline: 2px solid $purple;
  background-color: $purple-100;
  // outline-offset: -2px;
}

.Tabs--hideTabs .Tabs__Tabs { display: none; }