.select {
  cursor: pointer;
  display: inline-block;
  min-width: 180px;
  position: relative;
  border-radius: $border-radius;

  &:hover {
    .trigger {
      border: $border-width solid $border-color;
    }
  }

  // State modifiers
  &--open {
    .trigger {
      border: $border-width solid $border-color;
    }
  }
}

.label {

}

.select--open {
  ul {
    display: block;
  }

  & .trigger {
    border: $border-width solid $border-color;
  }
}

// FIX: remove? whats this for
.select--fluid {
  min-width: unset;
  display: block;
  border-radius: $border-radius;
}

.trigger {
  color: $black;
  background-color: $canvas;

  font-weight: normal;
  padding: 5px;
  // FIX: can see bottom border radius holes during 'open' state
  border-radius: $border-radius;
  border: $border-width solid transparent;
  width: 100%;
  text-align: left;
  outline: 0;

  // State modifiers
  &--focused {
    outline: 1px solid red;
  }

}

.list {
  position: absolute;
  z-index: 1;
  width: 100%;
  display: none;
  padding: 0;
  list-style: none;
  border: $border-width solid $border-color;
  border-top: 0;
  background-color: $canvas;
  outline: 0;
}

.item {
  color: $gray-300;
  padding: 5px;
  outline: none;

  &:hover {
    // FIX: hover state fg/bg constrast is low
    background-color: $gray-100;
  }

  // State modifiers
  &--selected {
    color: $blue;
  }

  &--focused {
    background-color: $gray-100;
    outline: 1px solid red;
  }

  &--disabled {
    color: $gray-100;
    &:hover {
      background-color: inherit;
    }
  }
}
