/* 
Breakpoint Mixins

Example Usage: 

  @include breakpoint(sm, up);
  @include breakpoint(lg, down);
  @include breakpoint(sm, md, between);

  

*/

// https://github.com/twbs/bootstrap/blob/main/scss/mixins/_breakpoints.scss
// https://glennmccomb.com/articles/useful-sass-scss-media-query-mixins-for-bootstrap/
// https://adrianmanduc.medium.com/how-to-create-a-scss-mixin-for-responsive-design-8aad4f70f1d5

@use "sass:list";

// min, max, between
@mixin breakpoint($breakpoint, $direction: up) {

  //check if the supplied breakpoint exists in our breakpoints map
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);
    //check if we are writing styles for larger or smaller screens
    @if $direction == min or $direction == up {
      @media (min-width: $breakpoint-value) {
        @content;
      }
    }
    @else {
      $breakpoint-max: $breakpoint-value - .02;
      @media (max-width: $breakpoint-max) {
        @content;
      }
    }
  }

  // Value is not a defined breakpoint, but use it in a media query anyway
  // Requires unit
  @else {
    @if $direction == min or $direction == up {
      @media (min-width: $breakpoint) {
        @content;
      }
    }
    @else {
      $breakpoint-max: $breakpoint - .02;
      @media (max-width: $breakpoint-max) {
        @content;
      }
    }
  }
}

@mixin breakpoint-between($lower, $upper) {
  $min: if(map-has-key($breakpoints, $lower), map-get($breakpoints, $lower), null);
  $max: if(map-has-key($breakpoints, $upper), map-get($breakpoints, $upper), null);

  @if $min != null and $max != null {
    @media (min-width: $min) and (max-width: $max) {
      @content;
    }
  } @else if $max == null {
    @include breakpoint($lower, min) {
      @content;
    }
  } @else if $min == null {
    @include breakpoint($upper, max) {
      @content;
    }
  }
}

// Wrappers 

// up-down syntax
@mixin bp-up($breakpoint) {
  @include breakpoint($breakpoint, min) { 
    @content;
  }
}
@mixin bp-down {
  @include breakpoint($breakpoint, max) { 
    @content;
  }
}
// min-max syntax
@mixin bp-min($breakpoint) {
  @include breakpoint($breakpoint, min) { 
    @content;
  }
}
@mixin bp-max($breakpoint) {
  @include breakpoint($breakpoint, max) { 
    @content;
  }
}

@mixin bp-between($lower, $upper) {
  @include breakpoint-between($lower, $upper) { 
    @content;
  }
}
// Arbitrary
@mixin bp($args...) {
  $numArgs: length($args);
  @if $numArgs > 3 {
    @error 'Too many arguments';
  }
  @else if $numArgs == 3 {
    $direction: list.nth($args, 3);
    @if $direction == between {
      @include breakpoint-between(list.nth($arg, 1), list.nth($arg, 2)) { 
        @content;
      }
    }
  }
  @else if $numArgs == 2 {
    @include breakpoint(list.nth($arg, 1), list.nth($arg, 2)) { 
      @content;
    }
  }
  @else if $numArgs == 1 {
    @include breakpoint(list.nth($arg, 1)) { 
      @content;
    }
  }
  @else {
    @error 'Not enough arguments (0)';
    @content;
  }
}